# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest
.pytest_cache/
**/.pytest_cache/
pytest-cache-files*
**/pytest-cache-files*
.pytest-cache-files*
**/.pytest-cache-files*

# Virtual envs
.venv/
venv/
env/

# Git
.git/
.gitignore

# Build / dist
build/
dist/
*.egg-info/

# Local env / OS junk
.env
*.log
.DS_Store
Thumbs.db